.ButtonOrden {
  cursor: pointer;
}
.button-container {
  display: flex;
  gap: 5px;
  justify-content: end;
}
.acciones {
  background-color: rgba(0, 255, 255, 0);
  border: none;
  padding: 5px;
  color: rgb(89, 90, 92);
}
.container-table :-webkit-scrollbar {
  overscroll-behavior: none;
}
.TableRow :hover {
  background-color: rgb(88, 88, 88) e;
}

.container-table {
  padding: 20px 0;
}

.MuiTableRow-root {
  transition: background-color 0.3s ease;
}

.MuiTableRow-root:hover {
  background-color: #2e2e2e31;
}
