/* EditarModal.css */

.container-ModalEdit {
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  right: 0; /* Alineado a la derecha */
  width: auto; /* 30% de la pantalla */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  background-color: rgba(61, 61, 61, 0.336); /* Fondo semi-transparente */
  display: flex;
  justify-content: flex-end; /* Alineado al final de la pantalla */
  align-items: center;
  z-index: 1000;
  transition: transform 1s ease; /* Transición suave para animaciones */
}

.form {
  background-color: #44444480;
  padding: 10px;
  margin: auto;
}

.close-Modal {
  border: none;
  background-color: transparent;
  position: relative;
  top: 10px;
  left: 170px;
  color: #4c4d4e85;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-Modal:hover {
  transform: scale(1.1);
}

.form h2 {
  font-size: 24px;
  margin: 0;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-agregar {
  background-color: #4c4d4e; /* Color del botón */
  color: #fff;
  width: 100px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-agregar:hover {
  background-color: #323435a1; /* Color en hover */
}

.contianer-price {
  display: flex;
  gap: 10px;
  width: 40%;
  justify-content: center;
}

.price-editar {
  width: 80px; /* Ancho de los campos de precio */
}
